        html, body{
    		padding: 0;
    		margin: 0;
    		width: 100%;
    		height: 100%;
            color: rgb(64, 64, 64);
    	}

        /* Navigation tabs*/

    	#myNavBar{
    		background-color: rgb(64, 64, 64);
    	}

    	#myNavBar button {
    		padding:2px;
    	}
    	#myNavBar .navbar-brand {
    		color: rgb(215, 67, 67);
            padding: 0;
            margin: 0 0 0 40px;
    		font-size: 2em;

    	}
        #myNavBar .navbar-brand img{
            padding: 0;
            margin: 0;
            position: relative;
            bottom: 5px;
        }

    	#myNavBar ul li a{
    		color: white;
            transition: .5s;
    	}   
    	#myNavBar ul li{
    		padding-right: 10px;
    		padding-left: 10px;
    		margin:0 10px 0 10px;
    		color: white;
    		transition: .5s;
    	}

    	#myNavBar ul li:hover {
    		background-color: rgb(215, 67, 67);
    		color: #FFF;
    	}
        
        /* Get started */
        .intro{
            padding: 0;
            margin: auto;
            position: relative;
            width: 100vw;
            height: 100vh;
            background: url("../img/bg.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .intro .inner{
            padding: 0;
            margin: 0;
            width: 100%;
            max-width: none;
        }

        .intro .inner_1{
            padding: 0;
            margin: 0;
            width: 100%;
            max-width: none;

        }

        .content {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            padding-top: 1%;
        }

        .content_1{
            max-width: 700px;
            margin: auto;
            text-align: left;
            padding-top: 18%;
        }

        .content_1 h1{
            font-size: 600%;
            font-weight: 100;
            color: #E1EFE9;
        }

        .content_1 p {
            font-size: 30px;
            font-weight: 100;
            color: #E1EFE9;
            line-height: 100%;

        }

        .btn_started{
            padding: 10px;
            font-size: 30px;
            font-weight: 300%;
            text-decoration: none;
            color: #E1EFE9;
            background-color: rgb(215, 67, 67);
            border: 2px solid #E1EFE9;
            border-radius: 20px;
            transition: .5s;
        }

        .btn_started:hover{
            text-decoration: none;
            color: rgb(64, 64, 64);
        }

        @media screen and (max-width: 992px){
            .content_1{
                max-width: 650px;
                padding-top: 25%; 
            }

           .content_1 h1 {
            font-size: 450%;
            }

           .content_1 p{
            font-size: 28px;
           }

           .btn_started{
            padding: 5px 10px;
            font-size: 28px;
           }  
        }

        @media screen and (max-width: 768px){
            .content_1{
                max-width: 550px;
                padding-top: 38%; 
            }

           .content_1 h1 {
            font-size: 350%;
            }

           .content_1 p{
            font-size: 25px;
           }

           .btn_started{
            padding: 5px 10px;
            font-size: 25px;
           }  
        }

        @media screen and (max-width: 576px){
           #navbar-brand {
                margin: 0 !important;
                font-size: 30px !important;
            }
           .content_1{
                max-width: 400px;
                padding-top: 50%; 
            }

           .content_1 h1 {
            font-size: 300%;
            }

           .content_1 p{
            font-size: 20px;
           }

           .btn_started{
            padding: 5px 10px;
            font-size: 20px;
           }  
        }

        @media screen and (max-width: 320px){
           
            #navbar-brand {
                margin: 0 !important;
                font-size: 30px !important;
            }
           .content_1{
                max-width: 300px;
                padding-top: 50%; 
                margin: 0 10px 0 10px;
                text-align: center;
            }

           .content_1 h1 {
            font-size: 300%;
            }

           .content_1 p{
            font-size: 20px;
           }

           .btn_started{
            padding: 5px 10px;
            font-size: 20px;
           }  
        }

        /*Presentation and stories*/

    .presentation {
        margin-top: 20px;
        padding: 0;
    }

    .presentation img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .presentation h2{
        padding-top: 30px;
    }

/*Services*/

    .services{
        margin-top: 20px;
        padding:0;
        text-align: center;
    }

    .services h2{
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .services i{
        width: 100px;
        height: 100px;
        margin: 20px;
        padding-top: 25px;
        font-size: 50px;
        background-color: rgb(215, 64, 64);
        border-radius: 50%;
    }


    .services p {
        margin: 5px;
        text-align: justify;
    }

/*Values*/

    .values{
        margin-top: 20px;
        padding:0;
        text-align: center;
    }

    .values h2{
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .values i{
        width: 100px;
        height: 100px;
        margin: 20px;
        padding-top: 25px;
        font-size: 50px;
        border-radius: 50%;
    }


    .values p {
        margin: 5px;
        text-align: justify;
    }

    .card:hover {
        -webkit-box-shadow : -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow : -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        -o-box-shadow : -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        box-shadow : -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    }
